{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    {% block fos_user_content %}
        <div>
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    {% endblock fos_user_content %}
{% endblock content %}
