<div class="table_actions">
    <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-success" title="Editar"><span class="glyphicon glyphicon-edit glyphicon-white"></span></a>
</div>
