{% extends 'CoreBackendBundle::base.html.twig' %}

{% block migas %}
    {{ parent() }}
    <li class="active">Cambiar contraseña</li>
{% endblock %}


{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
